.App {
  display: flex;
  justify-content: center;
  color: #ddd;
  box-sizing: border-box;
  background-color: #12263f;
  min-height: 100vh;
}

.color-picker-select-wrapper {
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
  padding: 50px 0px 20px 0px;
}

.color-picker-button-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  height: 50px;
}

.color-picker-button {
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-circle-area {
  width: 100%;
  display: flex;
  justify-content: center;
}

.color-circle-wrapper {
  position: relative;
  border-radius: 50%;
}

.color-circle-frame {
  background-color: hsl(213, 5%, 24%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.color-picker-swatch {
  display: inline-block;
  position: relative;
  margin: 0px 10px 10px 0px;
}

.color-picker-picked-colors-area {
  background-color: hsl(213, 5%, 24%);
  border-radius: 10px;
  padding: 20px 10px 10px 20px;
  min-height: 98px;
}

.color-picker-delete-icon {
  opacity: 0;
}
.color-picker-delete-icon:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.color-picker-swatch-border {
  border-radius: 50%;
  position: absolute;
}

.color-picker-swatch-inner {
  border-color: transparent;
}

.color-picker-swatch-inner:hover {
  border-color: hsl(213, 5%, 80%);
}

.picker-segment {
  fill: hsl(213, 5%, 28%);
  transition: 0.2s;
}

.picker-segment:hover {
  fill: hsl(213, 5%, 80%);
  transition: 0.2s;
}

.picker-segment.selected {
  fill: hsl(213, 5%, 80%);
  transition: 0.2s;
}
